extends layout

block content
  
  link(rel='stylesheet', href='../stylesheets/style.css')

  <div class="container" id="container">

    div.col-10.ml-sm-auto.px-4
    if successes
      for success in successes
        div.alert.alert-success #{ success }
    if errors
      for error, i in errors
        div.alert.alert-danger #{ error }
        
    <div class="form-container sign-in-container">
      <form action="/login" method="post">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="/auth/facebook" class="social"><i class="fa fa-facebook"></i></a>
          <a href="/auth/google" class="social"><i class="fa fa-google"></i></a>
        </div>
        <span>or use your account</span>
        <input name="email" type="email" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button type="submit" class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <a href="/register" class="button ghost" id="signUp">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

